{% extends 'layout/manage.html' %}
{% block css %}
    <style>
    .panel-default{
        margin-top: 10px;
    }
    .panel-default .panel-heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .panel-body{
        padding: 0;
    }
    .title-list{
        border-right: 1px solid  #dddddd;
        min-height: 500px;
    }
    .title-list ul{
        padding-left: 15px;
    }
    .title-list ul a{
        display: block;
        padding: 5px 0;
    }
    .content{
        border-left: 1px solid #dddddd;
        min-height: 600px;
        margin-left: -1px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
          <div>
            <i class="fa fa-book" aria-hidden="true"></i> wiki文档
          </div>
          <div class="function">
              <a href="add/" class="btn btn-success btn-xs" type="button">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建
              </a>
              {% if wiki_object %}
              <a href="add/" class="btn btn-primary btn-xs" type="button">
                  <i class="fa fa-edit" aria-hidden="true"></i> 编辑
              </a>
              <a href="delete/{{ wiki_object.id }}" class="btn btn-danger btn-xs" type="button">
                  <i class="fa fa-trash" aria-hidden="true"></i> 删除
              </a>
              {% endif %}
          </div>
      </div>
      <div class="panel-body">
          <div class="col-sm-3 title-list">
              <ul id="catalog">

              </ul>
          </div>
          <div class="col-sm-9 content">
              {% if wiki_object %}
                  {{ wiki_object.content }}
              {% else %}
              <div style="text-align: center;margin-top: 50px;">
                  <h4> 《{{ request.tracer.project.name }}》wili文档库 </h4>
                  <a href="add/">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建文章
                  </a>
              </div>
              {% endif %}
          </div>
      </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script>

    var WIKI_DETAIL_URL = ""

    $(function () {
        initCatalog();
    });
    
    function initCatalog() {
        $.ajax({
            url:"catalog/",
            type:"GET",
            dataType:"JSON",
            success:function (res) {
                if (res.status){
                    $.each(res.data, function (index, item) {
                        // 文章连接url
                        var href = WIKI_DETAIL_URL + "?wiki_id=" + item.id;
                        // item=[1, '123', null],
                        // 添加标签设置
                        var li = $("<li>").attr('id', "id_"+item.id).append($("<a>").text(item.title).attr('href', href)).append($("<ul>"));
                        // 先处理父目录
                        if (!item.parent_id){
                            // 添加到catalog中
                            $("#catalog").append(li);
                        }else {
                            // 找到父标签然后添加
                            $("#id_"+item.parent_id).children('ul').append(li);
                        }
                    })
                }else {
                    alert("初始化目录失败");
                }
            }

        })
    }
    </script>
{% endblock %}