{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} 用户短信登录 {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title">用户短信登录</div>
        <form id="smsForm" method="POST" novalidate>
            {% csrf_token %}

            {% for field in form %}
                {% if field.name == 'code' %}
                    <!-- 点击获取验证码 -->
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="row">
                            <div class="col-xs-7">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-xs-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}

            <div>
                <div style="float: right;">
                    <a href="/login/">邮箱或手机号登录？</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <input id="btnLoginSubmit" type="button" class="btn btn-primary" value="登  录"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block js %}
    <script>
        // 页面框架加载完成之后自动执行函数
        $(function(){
            // 点击获取验证码按钮
            bindClickBtnSms();
            // 点击登录按钮
            bindClickSubmit();
        });

        /**
         *点击登录（登录）
         */
        function bindClickSubmit() {
            $('#btnLoginSubmit').click(function () {
                // 将所有的错误信息先清空
                $('.error-msg').empty();

                // 收集表单中的数据（找到每一个字段）
                // 所有字段数据 + csrf token
                // $('#regForm').serialize()
                // 数据ajax发送到后台
                $.ajax({
                    url: "/login_sms/",
                    type: "POST",
                    data: $('#smsForm').serialize(), // 所有字段数据 + csrf token
                    dataType: "JSON",
                    success:function (res) {
                        if(res.status){
                            location.href = res.data;
                        }else {
                            // 添加错误信息显示
                            console.log(res)
                            $.each(res.error, function (key,value){
                                $("#id_"+key).next().text(value[0]);
                            })
                        }
                    }
                })

            })
        }

        /**
         * 点击获取验证码按钮绑定事件
         */
        function bindClickBtnSms() {
            $('#btnSms').click(function () {

                // 将所有的错误信息先清空
                $('.error-msg').empty();

                // 获取用户输入的手机号
                // 找到输入框ID,根据ID获取值
                var mobilePhone = $('#id_mobile_phone').val();

                // 发送ajax请求,把手机号发送过去
                $.ajax({
                    url:"/send/sms/", // "/send/sms/?k1=123
                    type:"GET",
                    data:{mobile_phone: mobilePhone, tpl: "login"},
                    dataType: "JSON",
                    success:function (res) {
                        // ajax 请求发送成功之后,自动执行的函数：res就是后端返回的值
                        if (res.status){
                            // 发送成功，倒计时
                            sendSmsRemind();

                        }else {
                            // 添加错误信息显示
                            console.log(res)
                            $.each(res.error, function (key,value){
                                $("#id_"+key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        /**
         * 倒计时
         */
        function sendSmsRemind() {
            // 找到按钮
            var $smsBtn = $('#btnSms');
            // 添加禁用标签
            $smsBtn.prop('disabled', true);
            var time = 60;
            // 增加定时器，每1秒执行一次
            var remind = setInterval(function () {
                $smsBtn.val(time+"秒重新发送");
                time = time -1;
                if (time<1) {
                    clearInterval(remind);
                    $smsBtn.val('点击获取验证码').prop('disabled',false);
                }
            },1000)
        }

    </script>

{% endblock %}