{% extends 'layout/manage.html' %}
{% load static %}
{% load issues %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css' %}">
    <style>
     .issues-list .number {
        width: 100px;
        text-align: right;
    }

    .issues-list .number a {
        font-weight: 500;
        padding: 0 10px;
    }

    .issues-list .issue .tags {
        padding: 10px 0;
    }

    .issues-list .issue .tags span {
        margin-right: 20px;
        display: inline-block;
        font-size: 12px;
    }

    .issues-list .issue .tags .type {
        color: white;
        padding: 1px 5px;
        border-radius: 5px;
        background-color: #dddddd;
    }

    .editormd{
        margin-bottom: 0;
    }

    .pd-0{
        padding: 0 !important;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid clearfix" style="padding: 20px 0;">
    <div class="col-sm-3">
        <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-search" aria-hidden="true"></i> 筛选
        </div>
        <div class="panel-body filter-area">
            筛选选项
{#            {% for title,item in filter.items %}#}
{#                <div class="item">#}
{#                    <div class="title">{{ title }}</div>#}
{#                    <div class="check-list">#}
{#                        {% for field in item %}#}
{#                            {{ field }}#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
        </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-quora" aria-hidden="true"> 问题</i>
            </div>
            <div class="panel-body">
                <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">新建问题</a>
                <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#inviteModel">邀请成员</a>
            </div>
            <!-- Table -->
            <table class="table">
                <tbody class="issues-list">
                    {% for item in issues_object_list %}
                        <tr>
                            <td class="number">
                                <i class="fa fa-circle text-{{ item.priority }}"></i>
                                <a target="_blank"
                                   href="/manage/{{ request.tracer.project.id }}/issues/detail/{{ item.id }}/">
                                    {% string_just item.id %}
                                </a>
                            </td>
                            <td class="issue">
                                <div>
                                    <a target="_blank"
                                       href="/manage/{{ request.tracer.project.id }}/issues/detail/{{ item.id }}/">
                                        {{ item.subject }}
                                    </a>
                                </div>
                                <div class="tags">
                                    <span class="type">
                                        {{ item.issues_type.title }}
                                    </span>
                                    <span>
                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                        {{ item.get_status_display }}
                                    </span>

                                    <!-- 指派者 -->
                                    {% if item.assign %}
                                        <span>
                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        {{ item.assign.username }}
                                    </span>
                                    {% endif %}

                                    <!-- 作者 -->
                                    <span>
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                        {{ item.creator.username }}
                                    </span>

                                    <!-- 截至时间 -->
                                    {% if item.end_date %}
                                        <span><i class="fa fa-calendar"
                                                 aria-hidden="true"></i> {{ item.end_date }} 截止
                                        </span>
                                    {% endif %}

                                    <!-- 最后更新时间 -->
                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i>
                                        {{ item.latest_update_datetime }} 更新
                                    </span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
            </table>
{#            <nav>#}
{#                <ul class="pagination" style="margin-top: 0;">#}
{#                    {{ pager.page_html|safe }}#}
{#                </ul>#}
{#            </nav>#}
          <nav aria-label="Page navigation">
          <ul class="pagination" style="margin-top: 0;">
            {{ page_html|safe }}
          </ul>
        </nav>
        </div>
    </div>
    </div>

    <div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <button class="close" type="button" data-toggle="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
              </button>
              <h4 class="modal-title">新建问题</h4>

          </div>
            <!-- 中间表单信息 -->
          <div class="modal-body" style="padding-right: 40px;">
            <form id="addForm" class="form-horizontal">

              {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.issues_type.id_for_label }}"
                           class="col-md-2 control-label">{{ form.issues_type.label }}</label>
                    <div class="col-md-10">
                        <div>
                            <div>
                                {{ form.issues_type }}
                            </div>
                            <div class="error-msg"></div>
                        </div>
                        <div class="error-msg"></div>
                    </div>
                </div>

                <!-- 主题 -->
                <div class="form-group">
                    <label for="{{ form.subject.id_for_label }}"
                           class="col-md-2 control-label">{{ form.subject.label }}</label>
                    <div class="col-md-10">
                        <div>
                            <div>
                                {{ form.subject }}
                            </div>
                            <div class="error-msg"></div>
                        </div>
                        <div class="error-msg"></div>
                    </div>
                </div>

                <!-- 模块 -->
                <div class="form-group">
                    <label for="{{ form.module.id_for_label }}"
                           class="col-md-2 control-label">{{ form.module.label }}</label>
                    <div class="col-md-10">
                        <div>
                            <div>
                                {{ form.module }}
                            </div>
                            <div class="error-msg"></div>
                        </div>
                        <div class="error-msg"></div>
                    </div>
                </div>

                <!-- markdown -->
                <div class="form-group">
                    <label for="{{ form.desc.id_for_label }}"
                           class="col-md-2 control-label">{{ form.desc.label }}</label>
                    <div class="col-md-10">
                        <div>
                            <div id="editor">
                                {{ form.desc }}
                            </div>

                            <div class="error-msg"></div>
                        </div>
                        <div class="error-msg"></div>
                    </div>
                </div>

                <!-- 状态 优先级 -->
                <div class="form-group clearfix">
                    <div class="col-md-6 pd-0">
                        <label for="{{ form.status.id_for_label }}"
                           class="col-md-4 control-label">{{ form.status.label }}</label>
                        <div class="col-md-8 clearfix">
                            <div>
                                {{ form.status }}
                            </div>
                            <div class="error-msg"></div>
                        </div>
                    </div>
                    <div class="col-md-6 pd-0">
                        <label for="{{ form.priority.id_for_label }}"
                           class="col-md-4 control-label">{{ form.priority.label }}</label>
                        <div class="col-md-8 clearfix">
                            <div>
                                {{ form.priority }}
                            </div>
                            <div class="error-msg"></div>
                        </div>
                    </div>
                </div>

                <!-- 指派给 关注者 -->
                <div class="form-group clearfix">
                    <div class="col-md-6 pd-0">
                        <label for="inputPassword3" class="col-md-4 control-label">指派给</label>
                        <div class="col-md-8">
                            {{ form.assign }}
                            <div class="error-msg"></div>
                        </div>
                    </div>

                    <div class="col-md-6 pd-0">
                        <label for="inputPassword3" class="col-md-4 control-label">关注者</label>
                        <div class="col-md-8">

                            {{ form.attention }}

                            <div class="error-msg"></div>
                        </div>
                    </div>
                </div>

                <!-- 开始时间 截至时间 -->
                <div class="form-group clearfix">
                    <div class="col-md-6 pd-0">
                        <label for="inputPassword3" class="col-md-4 control-label">开始时间</label>
                        <div class="col-md-8">

                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                {{ form.start_date }}
                            </div>
                            <span class="error-msg"></span>

                        </div>
                    </div>

                    <div class="col-md-6 pd-0">
                        <label for="inputPassword3" class="col-md-4 control-label">截止时间</label>
                        <div class="col-md-8">

                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                {{ form.end_date }}
                            </div>
                            <span class="error-msg"></span>
                        </div>
                    </div>
                </div>

                <!-- 模式 父问题 -->
                <div class="form-group clearfix">
                    <div class="col-md-6 pd-0">
                        <label for="inputPassword3" class="col-md-4 control-label">模式</label>
                        <div class="col-md-8">
                            <div>
                                {{ form.mode }}
                            </div>
                            <div class="error-msg"></div>
                        </div>
                    </div>

                    <div class="col-md-6 pd-0">
                        <label for="inputPassword3" class="col-md-4 control-label"> 父问题</label>
                        <div class="col-md-8">
                            <div>
                                {{ form.parent }}
                            </div>
                            <div class="error-msg"></div>
                        </div>
                    </div>
                </div>

            </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
              <button id="btnAddSubmit" type="button" class="btn btn-primary" >添 加</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
    <script src={% static 'plugin/editor-md/editormd.min.js' %}></script>
    <script src={% static 'plugin/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}></script>
    <script src={% static 'plugin/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.zh-CN.min.js' %}></script>
    <script src={% static 'plugin/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js' %}></script>
    <script src={% static 'plugin/bootstrap-select-1.13.9/dist/js/i18n/defaults-zh_CN.min.js' %}></script>
    <script>

    var WIKI_UPLOAD_URL = "/manage/"+ {{ request.tracer.project.id }} + "/wiki/upload/"
    var POST_ISSUES = "/manage/"+ {{ request.tracer.project.id }} + "/issues/"


    $(function () {
        bindBootStrapShownEvent();
        initDatePicker();
        btnAddSubmit();
    });

    /*
    * 添加对话框：初始化时间选择
    * */
    function initDatePicker() {
        $('#id_start_date,#id_end_date').datepicker({
            format:'yyyy-mm-dd',
            startDate:'0',
            language:"zh-CN",
            autoclose: true
        });
    }

    function bindBootStrapShownEvent(){
        $('#addModal').on('shown.bs.modal', function (event) {
            // 模态对话框弹出，内容触发
            initEdtorMd();
        })
    }

    /*
    初始化markdown编辑器(textare转换为编辑器)
     */
    function initEdtorMd() {
        editormd("editor",{
            placeholder: "请输入内容",
            height: 300,
            path: "{% static 'plugin/editor-md/lib/' %}",
            imageUpload: true, // 上传本地文件
            imageFormats:["jpg","jpeg","png","gif"],
            imageUploadURL:WIKI_UPLOAD_URL,
        })
    }

    /**
     * 添加
     */
    function btnAddSubmit() {
        $('#btnAddSubmit').click(function () {
            // 清空错误信息
            $("#addForm").find('.error-msg').empty();

            // 发起ajax请求
            $.ajax({
                url:POST_ISSUES,
                type:"POST",
                data:$('#addForm').serialize(),
                dataType:"JSON",
                success:function (res) {
                    {#console.log(res);#}
                    if(res.status){
                        location.href = location.href;
                    }else {
                        // 展示错误信息
                        $.each(res.error, function (k,y) {
                            $('#id_'+ k ).parent().next('.error-msg').text(y[0]);
                        })
                    }
                }
            })
        });
    }
    </script>
{% endblock %}


